%h1 Listing subjects items

%table.table.table-striped
  %thead
    %tr
      %th Description
      %th Item
      %th
      %th

  %tbody
    - subject.subject_items.each do |subject|
      %tr
        %td= subject.description
        %td= link_to subject.item.to_s.split("/").last, subject.item.url

%br
