= form_for subjects_path, method: :get do |f|
	= f.label "Search for subject:"
	= f.text_field :search_token, class: "form-control", placeholder: "Search for subject"
	%br
	= f.submit "Search", class: "btn btn-primary"
%br