= form_for subjects_path, html: {class: "form-inline"}, method: :get do |f|
	= f.label "Search for subject:"
	= f.text_field :search_token, class: "form-control", placeholder: "Search for subject"
	= f.submit "Search", class: "btn btn-default"