/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-social
 *= require font-awesome
 */


$font-family-base: Roboto;

$font: Roboto !important;

$base-color: #00d660;
$background-color: #e4fbef;
$secondary-color: #fff;

$site-width: 900px;

$shadow: 0 0 5px #ccc;

body {
  background: $background-color;
}

body, body p {
  font-size: 16px !important;
  font-family: $font;
}

main {
  background: none;
  > .container {
    background: $secondary-color;
    margin-top: 30px;
    box-shadow: $shadow;
    > h1, > h2, > h3 {
      font-size: 24px;
      font-family: $font;
      font-weight: bold;
      color: white;
      font: $font 16px;
      margin: 0 -15px 10px;
      padding: 10px 15px;
      background: $base-color;
    }
  }
}

form {
  margin-bottom: 10px;
}

.container {
  max-width: $site-width;
}

.navbar-default {
  background: $base-color;
  border: 0;
  box-shadow: $shadow;
  a {
    font-size: 18px;
    font-family: Roboto;
  }
  .navbar-nav > li > a {
    color: white;
    &:hover, &:focus {
      color: $base-color;
      background: white;
    }
  }
  .navbar-brand {
    background: white;
    font-family: Arvo;
    font-size: 30px;
    color: $base-color;
    &:hover, &:focus {
      background: $base-color;
      color: white;
    }
  }
}

.alert {
  max-width: $site-width;
  margin: 30px auto 0;
  border-radius: 0;
}

.btn.btn-social:visited {
  color: white;
}

.btn-primary, .btn-primary:visited {
  color: white;
  background: $base-color;
  border-color: $background-color;
  margin-bottom: 10px;
  &:hover, &:focus, &:active {
    color: $base-color;
    background: $background-color;
    border-color: $base-color;
  }
}

.table{
  .btn-primary {
    margin-bottom: 0;
  }
  > tbody > tr > td {
    vertical-align: middle;
  }
}